<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yangxq.monitor.dao.mysql.mapper.BusinessMapper" >
  <resultMap id="BaseResultMap" type="com.yangxq.monitor.common.po.Business" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="des" property="des" jdbcType="VARCHAR" />
    <result column="max" property="max" jdbcType="INTEGER" />
    <result column="min" property="min" jdbcType="INTEGER" />
    <result column="phones" property="phones" jdbcType="VARCHAR" />
    <result column="emails" property="emails" jdbcType="VARCHAR" />
    <result column="sys_id" property="sysId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, des, max, min, phones, emails, sys_id, title
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from mt_business
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from mt_business
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yangxq.monitor.common.po.Business" >
    insert into mt_business (id, type, des, 
      max, min, phones, emails, 
      sys_id, title)
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=TINYINT}, #{des,jdbcType=VARCHAR}, 
      #{max,jdbcType=INTEGER}, #{min,jdbcType=INTEGER}, #{phones,jdbcType=VARCHAR}, #{emails,jdbcType=VARCHAR}, 
      #{sysId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yangxq.monitor.common.po.Business" >
    insert into mt_business
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="des != null" >
        des,
      </if>
      <if test="max != null" >
        max,
      </if>
      <if test="min != null" >
        min,
      </if>
      <if test="phones != null" >
        phones,
      </if>
      <if test="emails != null" >
        emails,
      </if>
      <if test="sysId != null" >
        sys_id,
      </if>
      <if test="title != null" >
        title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="des != null" >
        #{des,jdbcType=VARCHAR},
      </if>
      <if test="max != null" >
        #{max,jdbcType=INTEGER},
      </if>
      <if test="min != null" >
        #{min,jdbcType=INTEGER},
      </if>
      <if test="phones != null" >
        #{phones,jdbcType=VARCHAR},
      </if>
      <if test="emails != null" >
        #{emails,jdbcType=VARCHAR},
      </if>
      <if test="sysId != null" >
        #{sysId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yangxq.monitor.common.po.Business" >
    update mt_business
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="des != null" >
        des = #{des,jdbcType=VARCHAR},
      </if>
      <if test="max != null" >
        max = #{max,jdbcType=INTEGER},
      </if>
      <if test="min != null" >
        min = #{min,jdbcType=INTEGER},
      </if>
      <if test="phones != null" >
        phones = #{phones,jdbcType=VARCHAR},
      </if>
      <if test="emails != null" >
        emails = #{emails,jdbcType=VARCHAR},
      </if>
      <if test="sysId != null" >
        sys_id = #{sysId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yangxq.monitor.common.po.Business" >
    update mt_business
    set type = #{type,jdbcType=TINYINT},
      des = #{des,jdbcType=VARCHAR},
      max = #{max,jdbcType=INTEGER},
      min = #{min,jdbcType=INTEGER},
      phones = #{phones,jdbcType=VARCHAR},
      emails = #{emails,jdbcType=VARCHAR},
      sys_id = #{sysId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>